<div>
    <h1 class="text-success center"><i>Weekly Report</i></h1>

    <table class="table mt-4">
        <% for(let h=habits.length-1;h>=0; h--) { %>
            <% if(h == habits.length-1){ %>
                <thead>
                    <tr>
                    <th scope="col" class="bg-warning text-danger">D/H</th>
                        <% for(let i of habits[0].date) { %>
                            <th class="bg-white"> <h5 class="text-danger "><%= i %></h5></th>
                        <% } %>
                    </tr>
                </thead>
        <%  } %>
        <% } %>
        <tbody>
            <% for(let task of habits) { %>
                <tr>
                    <th scope="row" class="text-warning bg-dark"><%= task.habit %></th>
                    <% for(let i=0; i< task.status.length; i++) { %>
                        <td id="<%= task.status[i] %>"> <a href="/reportUpdate/<%= task._id %>/<%= i %>/<%= task.status[i] %>" class="removeUnderline text-white"> 
                            <% if(task.status[i] == "DONE"){ %>
                                <i  style="font-size: 1.5rem;" class="fa-solid fa-circle-check"></i>
                            <%  }else if(task.status[i] == "NOT-DONE"){ %>
                                <i style="font-size: 1.5rem;" class="fa-solid fa-circle-xmark"></i>
                            <%  }else{ %>
                                <i style="font-size: 1.5rem;" class="fa-solid fa-circle-minus"></i>
                            <% } %>
                        </a></td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>